.d-flex {
  display: flex;
}

.align-items-start {
  align-items: start;
}

.gap-1 {
  gap: 1rem;
}

.pt-2 {
  padding-top: 2rem;
}

.mv-2 {
  margin: 2rem 0;
}

.pv-05 {
  padding: .5rem 0;
}

.hidden {
  visibility: hidden;
}
